<div fxFlex="600px" fxFlex.xs="100" fxFlexOffset="calc(50% - 300px)" fxFlexOffset.xs="0">
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxFlex="100">
      <app-email-address-input formControlName="email"></app-email-address-input>
      <mat-error *ngIf="formGroup.controls['email'].hasError('email')">Your email is invalid email</mat-error>
    </div>
    <div fxFlex="100">
      <app-email-address-input formControlName="email2"></app-email-address-input>
      <mat-error *ngIf="formGroup.controls['email2'].hasError('email')">Your email is invalid email</mat-error>
    </div>
    <div fxFlex="100">
      <app-email-address-input formControlName="email3"></app-email-address-input>
      <mat-error *ngIf="formGroup.controls['email3'].hasError('email')">Your email is invalid email</mat-error>
    </div>
    <div fxFlex="100">
      <app-email-address-input formControlName="email4"></app-email-address-input>
      <mat-error *ngIf="formGroup.controls['email3'].hasError('email')">Your email is invalid email</mat-error>
    </div>
  </form>
</div>
